<div class="wrapper">

  <%= render "shared/side_bar" %>
 
  <div class="investments">
    <div class="invest-header">
      <div class="invest-botton">
       <i class="fas fa-donate"><%= link_to " 情報を入力", new_group_investment_path(@group) %></i>
      </div>
      <div class="invest-title">
       <%= @group.name %>
      </div>
      <div class="group-botton">
        <i class="fas fa-user-friends"><%= link_to " グループ情報", group_path(@group) %></i>
      </div>
    </div>

    <div class="calendar">
      <%= month_calendar events: @investments do |date, investments| %>
      <%= date.day %>
      <% investments.each do|investment|%>
      <p><%= link_to "#{investment.money.to_s(:delimited)}円 ", group_investment_path(id: investment.id) %><%= investment.user.nickname %></p>
      
      <% end %>
      <% end %>
      </div>
      </div>
  </div>
</div>
