<div class="wrapper">

  <%= render "shared/side_bar" %>
 
  <div class="investments">
    <div class="invest-header">
      <div class="invest-botton">
       <%= link_to new_group_investment_path(@group) do %><i class="fas fa-donate"></i> 情報を入力<% end %>
      </div>
      <div class="invest-title">
       <%= @group.name %>
      </div>
      <div class="group-botton">
        <%= link_to group_path(@group) do %><i class="fas fa-user-friends"></i> グループ情報<% end %>
      </div>
    </div>

    <div class="calendar">
      <%= month_calendar events: @investments do |date, investments| %>
      <%= date.day %>
      <% investments.each do|investment|%>
      <p><%= link_to "#{investment.money.to_s(:delimited)}円 ", group_investment_path(id: investment.id) %><%= investment.user.nickname %></p>
       <% end %>
      <% end %>
      </div>
      </div>
  </div>
</div>
