<p>入力ページ</p>
<%= form_with model:[@group,@investment],class:"form",url:group_investments_path,local: true do |f| %>
<div class="form-input">
<p>日付</p>
<%= f.date_field :start_time %>
<p>金額</p>
<%= f.text_field :money, class: "form-message" %>

<p>内容</p>
<%= f.text_field :content, class: "form-message" %>

<p>種別</p>
<%= f.collection_select(:category_id, Category.all, :id, :name, {},{class: "form-message" }) %>

<p>口座</p>
<%= f.collection_select(:account_id, Account.all, :id, :name, {},{class: "form-message" }) %>
<p>期間</p>
<%= f.collection_select(:period_id, Period.all, :id, :name, {},{class: "form-message" }) %>
</div>
<%= f.submit '送信', class: 'form-submit' %>
<% end %>