<div class="wrapper">

  <%= render "shared/side_bar" %>

  <div class="investments">
    <div class="invest-back">
      <div class="form">
        <div class="form-group">
          <div class="form-title">
            <h3><i class="fas fa-info-circle"></i>  詳細情報</h3>
          </div>
          <div class="field">
            <label for="formGroupExampleInput"> 投稿者</label>
            <div class="d-flex p-2 bd-highlight border-bottom justify-content-center">
            <%= @investment.user.nickname %>
            </div>
          </div>
          <div class="field">
            <label for="formGroupExampleInput"> 投稿日</label>
            <div class="d-flex p-2 bd-highlight border-bottom justify-content-center">
            <%= @investment.start_time.strftime('%Y年%-m月%d日') %>
            </div>
          </div>
          <div class="field">
            <label for="formGroupExampleInput"> 金額</label>
            <div class="d-flex p-2 bd-highlight border-bottom justify-content-center">
            <%= "#{@investment.money.to_s(:delimited)} 円" %>
            </div>
          </div>
          <div class="field">
            <label for="formGroupExampleInput"> 内容</label>
            <div class="d-flex p-2 bd-highlight border-bottom justify-content-center">
            <%= @investment.content %>
            </div>
          </div>
          <div class="field">
            <label for="formGroupExampleInput"> 種類</label>
            <div class="d-flex p-2 bd-highlight border-bottom justify-content-center">
            <%= @investment.category.name %>
            </div>
          </div>
          <div class="field">
            <label for="formGroupExampleInput"> 口座</label>
            <div class="d-flex p-2 bd-highlight border-bottom justify-content-center">
            <%= @investment.account.name %>
            </div>
          </div>
          <% unless @investment.period.id == 1 %>
            <div class="field">
              <label for="formGroupExampleInput"> 期間</label>
              <div class="d-flex p-2 bd-highlight border-bottom justify-content-center">
              <%= @investment.period.name %>
              </div>
            </div>
          <% end %>
            
          <% if current_user.id == @investment.user.id %>
            <div class="actions">
              <%= link_to " もどる ", group_investments_path ,class:"btn btn-success"%>     
              <%= link_to " 情報を編集 ",edit_group_investment_path(id: @investment.id) ,class:"btn btn-primary"%>
              <%= link_to " 削除する ",group_investment_path(id: @investment.id), method: :delete ,class:"btn btn-danger"%>
            </div>
          <% else %>
              <div class="actions">
              <%= link_to " もどる ", group_investments_path ,class:"btn btn-success"%>
              </div> 
          <% end %>
        </div>
      </div>
      <div class="form">
        <div class="comment-form">
          <div class="form-row align-items-center p-1 m-2 mt-3">
            <div class="col">
              <%= form_with model: [@investment, @comment],url:group_investment_comments_path(investment_id:@investment), local: true do |form| %>
              <%= form.text_field :text, placeholder: "コメント", class:"form-control" %>
            </div>  
            <button type="submit" class="btn btn-primary">送信</button>
              <% end %>
          </div>
          <div class="comments">
          <h4 class="text-center text-warning m-2"><i class="far fa-comments"></i> コメント一覧</h4>
            <% @comments.each do |comment| %>
            <p class="text-white ml-4">
              <%= comment.text %>
              <%= comment.user.nickname %>
              <% if current_user.id == comment.user_id %>
                <%= link_to group_investment_comment_path(@investment.group.id,comment.investment.id,comment.id), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
              <% end %>         
            </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
