<div class="wrapper">
  <%= render "shared/side_bar" %>
  <div class="investments">
    
  <div class="form">
    <div class="form-group">
      <div class="form-title">
        <h3><i class="fas fa-sign-in-alt" ></i>  ログイン</h3>
      </div>
      <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <div class="field">
          <label for="formGroupExampleInput"><i class="far fa-envelope"></i> メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="field">
          <label for="formGroupExampleInput"><i class="fas fa-unlock-alt"></i> パスワード</label>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-primary btn-lg" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
