<!DOCTYPE html>
<html>
  <head>
    <title>InvestManage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="header">
     <div class="header-title">
      <div class="logo">
       <p>ロゴ</p>
      </div>
      <div class="header-app-name">
       <p>投資管理あぷり(仮)</p>
      </div>
     </div>
     <div class="header-botton">
        <a href="/"><i class="fas fa-home fa-2x" ></i></a>
       
       <% if user_signed_in? %>
          <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class:"log-in-botton" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "log-in-botton" %>
          <%= link_to "新規登録", new_user_registration_path, class: "log-in-botton" %>
        <% end %>
     </div>
   </div>
   </header>

    <%= yield %>
   <footer class="footer">
    <p>Copyright 2021 H.kamada</p>
   </footer>
  </body>
</html>
